@import url("style/header.css");
:root{
    --principal-color: hwb(220 92% 7%);
    --line-color: #fff;
    --orange: #EB9B00;
--blue: #002F52 35.49%, #326589 165.37%;



}

body{
    background: var(--principal-color);
}



