@import url("style/header.css");
@import url("style/banner.css");
@import url("style/carousel.css");
@import url("style/card.css");
@import url("style/topics.css");
@import url("style/contact.css");
@import url("style/footer.css");


:root {
    --principal-color: hwb(220 92% 7%);
    --line-color: #fff;
    --orange: #EB9B00;
    --blue: #002F52;
    --black: #000;
    --black-font-footer: #474646;
    --grey-title-footer: #858585;
    --principal-font /*MUDAR PARA PRIMARY*/: 'Poppins';
    --secondary-font: 'Josefin Sans';



}

body {
    background: var(--principal-color);
    font-family: var(--principal-font);
    font-size: 1rem;
    font-weight: 400;
}