.carousel{
    background: var(--principal-color);
}

.carousel__title{
    background: var(--line-color);
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--orange);
    font-weight: 700;
    padding: 1.5em 0 1em 0;

}

.swiper-slide img{
    width: 100%;
}

.swiper-button-prev, .swiper-button-next{
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 1em 0;
}

@media screen and (min-width: 1024px){
    .carousel__title{
        font-size: 26px;
    }

    .swiper-pagination{
        margin: 2em 0 3em 0;
    }
    
    .swiper-slide{
        width: 30%;
    }

    .swiper-button-prev, .swiper-button-next{
        display: block;
        top: 60%;
    }

}

@media screen and (min-width: 1728px) {
    .carousel__container{
        display: flex;
        width: 30%;
    }
    
}