.hamburguer__menu {
    width: 24px;
    height: 40px;
    background-image: url(../img/Menu.svg);
    display: inline-block;
    padding: 0 1em 0 2em;
    background-position: center;
    background-repeat: no-repeat;
}

.menu {
    background-color: var(--line-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__list{
    display: none;
}
.menu__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    display:none;
    position: absolute;
    top: 100%;
    width: 50svw;
    background-color: var(--line-color);
    padding: 1em;
}

.container__list:checked ~ label .menu__list {
    display: flex;
}

.title__list {
    color: var(--orange);
    font-size: 1rem;
    font-weight: 700;
}

.link__list {
    color: var(--blue);
    text-decoration: none;
    
}