.hamburguer__menu{
    width: 24px;
    height: 40px;
    background-image: url(../img/Menu.svg);
    display: inline-block;
    padding: 0 1em 0 2em;
    background-position: center;
    background-repeat: no-repeat;
}

.menu{
    background-color: var(--line-color) ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}
.menu__list{
    display: flex;
    flex-direction: column;
    gap:10px;
/* display:none; */
position: absolute;
top:100%;
width: 50svw;
background-color: var(--line-color);
padding: 1em;
}

.container__list:checked~ .menu__list{
display:block;
}

.title__list{
    font-family: 'Poppins', sans-serif;
    color: var(--orange);
font-size: 1rem;
font-weight: 700;
}

.link__list{
    font-family: 'Poppins', sans-serif;
    color: var(--blue);
text-decoration: none;
font-size: 1rem;
font-weight: 400;
}
